<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="kr/or/ddit/db/db.properties" />


	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.UserVo"
			alias="userVo" />
		<typeAlias type="kr.or.ddit.util.model.PageVo"
			alias="pageVo" />
	</typeAliases>
	
	<!--  참조 : https://taetaetae.github.io/2017/03/23/oracle-mybatis-date/
		     - 오라클 + mybatis 환경에서 Date타입을 다루기 위해서는 타입핸들러를 명시적으로 만들어줘야 한다
	      참조 : http://www.mybatis.org/mybatis-3/ko/configuration.html#typeHandlers -->
	<typeHandlers>
		<typeHandler handler="kr.or.ddit.util.CustomDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
	</typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.username}" />
				<property name="password" value="${db.password}" />
			</dataSource>
			
			<!-- dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracleDB" />
			</dataSource-->
			
		</environment>
	</environments>

	<mappers>
		<mapper resource="kr/or/ddit/db/temp.xml" />
		<mapper resource="kr/or/ddit/db/user.xml" />
	</mappers>
</configuration>
